<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrecisionGazeMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PrecisionGazeMouse.Properties.Settings>
            <setting name="TrackerMode" serializeAs="String">
                <value>EyeX and eViacam</value>
            </setting>
            <setting name="ContinuousMovement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickOnKey" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="PauseOnKey" serializeAs="String">
                <value>F10</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MovementKey" serializeAs="String">
                <value>F3</value>
            </setting>
            <setting name="ShowWarpBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGazeTracker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnKeyPressMovement" serializeAs="String">
                <value>True</value>
            </setting>
        </PrecisionGazeMouse.Properties.Settings>
    </userSettings>
</configuration>